## ignore all
*

## do not ignore files
!/README.md
!/.gitignore

## do not ignore dirs, but ignore files
!/data/
!/data/**/.gitkeep

!/doc/
!/doc/**/.gitkeep

!/download/
!/download/**/.gitkeep

!/script/
!/script/**/.gitkeep

!/taskfile/
!/taskfile/**/.gitkeep

## do not ignore files in dirs
!/job/
!/job/profile.zsh
!/job/example.zsh

!/lib/
!/lib/blast.zsh
!/lib/function.zsh
!/lib/datasets.zsh
!/lib/mafft.zsh
!/lib/mcscan.zsh
!/lib/meme.zsh
!/lib/mummer.zsh
!/lib/raxml.zsh
!/lib/trimal.zsh
